/*Project primary colors to be used*/

$primary-color: #181515;
$secondary-color: #4D1540;
$secondary-color-red: #541A3D;
$primary-color-blue: #89C7CB;



$primary-text-color: #FFFFFF;
$secondary-text-color: rgba(#FFFFFF, 0.6);