/*Project primary colors to be used*/

$primary-color: #181515;
$secondary-color: #C84C4C;
$secondary-color-red: #541A3D;
$Primary-color-blue: #89C7CB;



$primary-text-color: #FFFFFF;
$secondary-text-color: rgba(#FFFFFF, 0.6);